<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h1>Assignment 6: Practicing Template-Driven Forms</h1>
      <hr>
      <p>
        Add a Form with the following Inputs (and Validators):
      </p>
      <ol>
        <li> Mail address (should not be empty and should be an email address)</li>
        <li> A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
        Set "Advanced" as Default</li>
        <li> A Password field (should not be empty)</li>
        <li> A Submit Button</li>
      </ol>
      <p>
        Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.
      </p>
      <p>
        Upon submitting the form, you should simply print the Value of the Form to the Console.
        Optionally, display it in your template.
      </p>
      <hr>
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form
          (ngSubmit)="onSubmit()"
          #form="ngForm">
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="text"
              id="email"
              name="email"
              class="form-control"
              ngModel
              required
              email
              #email="ngModel">
            <span class="error text-danger" *ngIf="email.touched && email.invalid">Email is required. Invalid email syntax</span>
          </div>
          <div class="form-group">
            <label for="subscription">Subscription</label>
            <select
              id="subscription"
              name="subscription"
              class="form-control"
              [ngModel]="defaultSubscription">
              <option name="Basic">Basic</option>
              <option name="Advanced">Advanced</option>
              <option name="Pro">Pro</option>
            </select>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              ngModel
              required
              #password="ngModel">
            <span class="error text-danger" *ngIf="password.touched && !password.value">Password is required</span>
          </div>
          <div class="alert alert-warning"
               role="alert"
               *ngIf="ngForm.touched && ngForm.invalid">
            <p>
              <b>Warning!</b> Some form fields require revision
            </p>
          </div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="ngForm.invalid">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="this.submitted">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <hr>
      <h3>Form Submitted</h3>
      <div>
        <p>Mail: {{this.formSubmitted.email}}</p>
        <p>Subscription: {{this.formSubmitted.subscription}}</p>
        <p>Password: {{this.formSubmitted.password}}</p>
      </div>
    </div>
  </div>
</div>
